* {
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    
  }
  body{
    background-image: linear-gradient(whitesmoke, teal);
    background-color: wheat;
  }
  
  table,th,td {
    border: solid black 1px;
    border-collapse:inherit;
    padding: 5px;
    text-align: center;
    padding-left: 10px;

  }

#parent{
  margin: 50px;
  }
tr:hover {
  background-color:#f5f5f5;
}
th:hover {
  background-color:#f5f5f5;
}

  header {
    text-align: center;
    background-color:whitesmoke;
    font-size: 30px;
    padding: 30px;
    margin: 30px;
    font-family: Arial, Helvetica, sans-serif;
    

    
    
  }
  header h1{
    text-shadow: 2px 2px 10px;
    height: 30px;
    font-size: 40px;
    
  }
  img{
    border: 10px solid transparent;
    padding: 15px;
   
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.8);

    border-radius: 8px;
    display: block;
    width: 35%;
    margin: 3% auto;
    opacity: 1;
   
  }
  img :hover{
    
  }
  
#last{
  
  /* text-align: center; */
  padding-left: 40%;
  background-color: whitesmoke;
  /* width: 100%; */
  padding-top:  10px;
  padding-bottom: 10px;
  font-family: 'New Tegomin', serif;
  font-weight:900;
  font-size: 20px;
  }
#last ul li {
  font-size: 30px;
  font-family: 'Dancing Script', cursive;
  /* font-family: 'New Tegomin', serif; */
  
}

#salmon{
  
  font-size: 30px;
  text-align: center;
  background-color:salmon;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  padding-left: 30px;
  margin-left: 20px;

  
 
}
/* #linkindex {
  font-size: 30px;
  padding-left: 30px;
  margin: 30px;
  margin-bottom: 30px;
  background-color: teal;
} */
article{
  text-align: center;
  font-size: 30px;
  margin: 30px;
  background-color:whitesmoke;
  height: 70px;
  vertical-align: middle;
  line-height: 70px;
  font-family: 'Dancing Script', cursive;
  border-radius: 30px;

}
#linkindex {
  text-decoration: none;
}
article  :hover{
  color: tomato;
}
#locationsForm{
  
 
  height: 200px;
  padding-top: 15px;
  text-align: center;
}
#avaregeCookei{
  margin-left: 12px;
}


